
Infant protein requirements: Proteins contain different amino acids that are linked together. Proteins provide both calories and the amino acid building blocks that are necessary for proper growth. The protein in human milk provides between 10%-15% of an infant's daily caloric need.