
Infant fat requirements: Fat in human milk provides 30%-35% of the total daily caloric needs for a growing infant.  Manufacturers of <a href="https://www.medicinenet.com/infant_formulas/article.htm" onclick="wmdTrack('embd-lnk');" rel="dt">infant formulas</a> utilize many different vegetable oils for fat including corn, <a href="https://www.medicinenet.com/soy_glycine_soya-oral/article.htm" onclick="wmdTrack('embd-lnk');" rel="pharm">soy</a>, safflower, and coconut oils. Some formulas contain "predigested" fats known as medium chain <a href="https://www.medicinenet.com/triglyceride_test/article.htm" onclick="wmdTrack('embd-lnk');" rel="proc">triglycerides</a> (MCT). These are analogous to the "predigested proteins."  Because of their unique application, formulas containing MCT are not routinely recommended for healthy infants and children.