
Infant vitamin requirements: Vitamins are organic substances that are essential in minute quantities for the proper growth, maintenance, and functioning of the baby. Vitamins must be obtained from food because the body cannot produce them. The exception is vitamin D, which can be produced by the skin when it is exposed to the sun.