
Infant mineral requirements: Minerals (calcium, phosphorus, magnesium, iron, iodine, copper and zinc) and trace elements (manganese, chromium, selenium, and molybdenum) are included in most <a href="https://www.medicinenet.com/infant_formulas/article.htm" onclick="wmdTrack('embd-lnk');" rel="dt">infant formulas</a>. Therefore, there is no evidence that mineral supplementation are necessary for healthy formula-fed, full-
term infants.